* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Libre Baskerville", serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html {
    font-size: 1rem;
}
.banner-section {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url('../img/banner.jpg');
    background-color: #928372;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    height: 100vh; 
    width: 100%;  
}


.espacio {
    padding: 120px 0;
}

p{
    font-size: 1.2rem;
}

.linea {
    margin: 5rem 0;
}

.btn-dark {
    color: #1a1a1a; 
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-dark:hover {
    background-color: #b9b9b9; /* Cambio sutil al pasar el mouse */
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}



footer {
    color: white;
    padding: 20px;
    background-color: #26241c;
}

footer p {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    padding-top: 15px;
}
